/*Fuentes del archivo*/
$fuente-titulos: 'Montserrat', sans-serif;
$fuente-roboto: 'Roboto', sans-serif;

/*Tamaño fuentes*/
$size-titulos: 1.5625rem; /*25px*/
$size-16px: 1rem;
$size-14px: 0.875rem;
$size-35px: 2.1875rem; 

/*Colores generales*/
$color-azul: #572EE5;
$color-verde: #50E3C2;